{% extends 'ERP/base.html' %}

{% block title %}Transaction{% endblock %}

{% block content %}

<style>
    .productid {
        display: none;
    }

    .posid {
        display: none;
    }

    .searchview
    {
        margin-top: 2rem;
        width:30%;
        margin-left: 5%;
    }
    .debotsname
    {
        color:black !important;
    }

    .messages
    {
        margin-top: 1rem;
        background: red;
        color:white;
        text-align:center;
    }

.top-scroll {
    width: 10px; /* Set the width of the scrollbar */
    height: 100%; /* Set the height to cover the entire height of the container */
    background-color: #f1f1f1; /* Background color of the scrollbar track */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999; /* Set a high z-index to make sure it appears on top of other elements */

    /* Styles for the scrollbar thumb */
    &::-webkit-scrollbar-thumb {
        background-color: #888; /* Color of the scrollbar thumb */
        border-radius: 5px; /* Border radius of the scrollbar thumb */
    }

    /* Styles for the scrollbar track when the scrollbar is being dragged */
    &::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Background color of the scrollbar track */
    }

    /* Styles for the scrollbar thumb when the scrollbar is being hovered */
    &:hover::-webkit-scrollbar-thumb {
        background-color: #555; /* Color of the scrollbar thumb when hovered */
    }

    /* Styles for the scrollbar track when the scrollbar is being hovered */
    &:hover::-webkit-scrollbar-track {
        background-color: #ccc; /* Background color of the scrollbar track when hovered */
    }
}
    
    
   
</style>

{% load static %}
<link rel="stylesheet" href="{% static "css/transaction.css" %}">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="{% static "css/neinvoice.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudfla xre.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 class="text-center mt-3 mb-3">Sale Invoice</h1>

{% include "ERP/itempage.html" %}

<div class="searchview">
<input type="text" id="searchInput" class="form-control" placeholder="Search by Customer Name">
</div>


{% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
{% endif %}

<div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel6" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel6">Show All Product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


<!-- Add this somewhere in your HTML, usually at the end of your file -->
<div class="modal fade" id="voucherModal" tabindex="-1" role="dialog" aria-labelledby="voucherModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="voucherModalLabel">Voucher Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Content of your modal goes here -->
                <form id="voucherForm" method="post" action="" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <!-- Voucher Number -->
                    {% comment %} <div class="form-group">
                        <label for="{{ form.vouchernumber.id_for_label }}">Voucher Number:</label>
                        {{ form.vouchernumber }}
                    </div> {% endcomment %}
                
                    <!-- Amount -->
                    <!-- Salepos -->
                    <div class="form-group">
                        <label for="{{ form.salepos.id_for_label }}">Sale POS:</label>
                        {{ form.salepos }}
                    </div>
                
                    <div class="form-group">
                        <label for="{{ form.amount.id_for_label }}">Amount:</label>
                        {{ form.amount }}
                    </div>
                
                    <!-- Payment Status -->
                    <div class="form-group">
                        <label for="{{ form.payment_status.id_for_label }}">Payment Status:</label>
                        {{ form.payment_status }}
                    </div>
                
                    <!-- Description -->
                    <div class="form-group">
                        <label for="{{ form.description.id_for_label }}">Description:</label>
                        {{ form.description }}
                    </div>
                
                    
                    <!-- Purchasepos -->
                    <div class="form-group">
                        <label for="{{ form.purchasepos.id_for_label }}">Type:</label>
                        {{ form.type }}
                    </div>
                
                    <!-- Account Info -->
                    <div class="form-group">
                        <label for="{{ form.account_info.id_for_label }}">Account Info:</label>
                        {{ form.account_info }}
                    </div>
                
                    <!-- Date -->
                    {% comment %} <div class="form-group">
                        <label for="{{ form.date.id_for_label }}">Date:</label>
                        {{ form.date }}
                    </div> {% endcomment %}
                
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- Add any other buttons you need in the footer -->
            </div>

        </div>
    </div>
</div>


<div class="allbutton">
    <a href="?status=draft" id="draftLink" class="btn {% if status_filter == 'draft' %}active{% endif %}">Draft</a>
    <a href="?status=quatation" id="QuatationLink" class="btn {% if status_filter == 'quatation' %}active{% endif %}">Quotation</a>
    <a href="?status=credit_sale" id="CredittLink" class="btn {% if status_filter == 'credit_sale' %}active{% endif %}">Credit Sale</a>
    <a href="?status=cash" id="CashLink" class="btn {% if status_filter == 'cash' %}active{% endif %}">Cash</a>
</div>

<!-- Your home page content goes here -->
<div class="dropdown columnvisibilty">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="toggleColumnsDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Column Visibility
    </button>
    <div class="dropdown-menu" aria-labelledby="toggleColumnsDropdown" id="toggleColumnsDropdownMenu">
        <!-- Options will be dynamically added here -->
    </div>
</div>
<div class="tableview">
<div class="top-scroll"></div>
<table class="pos-table">
    <thead>
        <tr>
            <th class="posid">SO ID</th>
            <th class="productid">ID</th>
            <th>Customer</th>
            <th>Total with Discount</th>
            <th>Discount</th>
            <th>Total Subtotal</th>
            <th>Paid Amount</th>
            <th>Due Amount</th>
            <th>Products</th>
            <th>Status</th>
            <th>Invoice Date</th>
            <th>Invoice By</th>
            <th>Paid Or Due</th>
            <th>Delivery Status</th>
            <th>Edit</th>
            <th>Voucher</th>
            <th>Action</th>
            <th>Return</th>
            <th>Add Delivery</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        {% for pos in pos_page %}
        <tr>
            <td class="posid">{{ pos.id }}</td>
            <td class="productid">{{ pos.customer.id }}</td>
            <td><a href="{% url 'customerDetailsaccount' pos.customer.id %}" class="debotsname">{{ pos.customer.Debtors_Name }}</a></td>            
            <td>{{ pos.total_with_discount }}</td>
            <td>{{ pos.discount }}</td>
            <td>{{ pos.total_subtotal }}</td>
            <td>{{ pos.paid_amount }}</td>
            <td>{{ pos.due_amount }}</td>
            <td>
                <button class="generatePdfButton btn btn-warning" data-target="{{ forloop.counter }}">PDF</button>
                <table class="inner-table" id="innerTable{{ forloop.counter }}">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Product Name</th>
                            <th>UNIT</th>
                            <th>SKU</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in pos.products.all %}
                        <tr>
                            <td><input type="text" class="name-input" value="{{ product.name }}"></td>
                            <td><input type="text" class="unit-input" value="{{ product.unit }}"></td>
                            <td><input type="text" class="sku-input" value="{{ product.sku }}"></td>
                            <td><input type="number" class="quantity-input" value="{{ product.quantity }}"></td>
                            <td><input type="number" class="unit-cost-input" value="{{ product.unit_cost }}"></td>
                            <td><input type="number" class="subtotal-input" value="{{ product.subtotal }}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
            <td>{{ pos.status }}</td>
            <td>{{ pos.invoice_date }}</td>
            <td>{{ pos.invoice_by }}</td>
            <td>
                {% if pos.paid_amount|floatformat:3 == pos.total_subtotal|floatformat:3 %}
                    Paid
                {% else %}
                    Due
                {% endif %}
            </td>
            <td>{{pos.delivery_status}}</td>
            <td class="d-flex">
                <button class="editButton btn btn-info" data-target="{{ forloop.counter }}">Edit</button>
            </td>
            
            <td>
                <button class="voucherButton btn btn-success" data-toggle="modal" data-target="#voucherModal" data-posid="{{ pos.id }}">Voucher</button>
            </td>
            <td><button class="deleteButton btn btn-danger" data-target="{{ pos.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
            <td class="d-flex">
                <button class="returnButton btn btn-warning" data-target="{{ forloop.counter }}">Return</button>
            </td>
            <td><button class="deliveryButton btn btn-info" data-target="{{ forloop.counter }}">Add Delivery</button></td>
            <td><button type="button" class="btn btn-primary viewButton" data-bs-toggle="modal" data-bs-target="#exampleModal6" data-rowid="{{ forloop.counter }}">View</button>

            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="1"></td><!-- colspan should be adjusted based on the number of columns in your table -->
            <td colspan="3"><p class="totalAmount fw-bolder"></p></td>
            <td colspan="3"><p class="totalSubtotal fw-bolder"></p></td>
            <td colspan="3"><p class="totalpaidAmount fw-bolder"></p></td>
        </tr>
        
    </tfoot>
</table>
</div>
<div class="pagination">
    <span class="step-links">
        {% if pos_page.has_previous %}
            <a href="?page=1{% if status_filter %}&status={{ status_filter }}{% endif %}" class="btn btn-sm btn-info">&laquo; first</a>
            <a href="?page={{ pos_page.previous_page_number }}{% if status_filter %}&status={{ status_filter }}{% endif %}" class="btn btn-sm btn-primary">previous</a>
        {% endif %}

        <span class="current">
            Page {{ pos_page.number }} of {{ pos_page.paginator.num_pages }}.
        </span>

        {% if pos_page.has_next %}
            <a href="?page={{ pos_page.next_page_number }}{% if status_filter %}&status={{ status_filter }}{% endif %}" class="btn btn-sm btn-warning">next</a>
            <a href="?page={{ pos_page.paginator.num_pages }}{% if status_filter %}&status={{ status_filter }}{% endif %}" class="btn btn-sm btn-success">last &raquo;</a>
        {% endif %}
    </span>
</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<script>
    // Ensure that your CSRF token is included in AJAX requests if needed
    function getCSRFToken() {
        const cookieValue = document.cookie
            .split('; ')
            .find(row => row.startsWith('csrftoken='))
            .split('=')[1];
        return cookieValue;
    }

    document.addEventListener('DOMContentLoaded', function () {
        const innertables = document.querySelectorAll('.inner-table');

        innertables.forEach(table => {
            table.style.display = "none";
        });

        document.querySelectorAll('.generatePdfButton').forEach(button => {
            button.addEventListener('click', function () {
                const clickedRowIndex = parseInt(this.getAttribute('data-target')) - 1;
                const clickedRow = innertables[clickedRowIndex];
                const outerTableRow = clickedRow.closest('tr');

                const clickedRowData = {
                    posid: outerTableRow.querySelector('td:nth-child(1)').textContent.trim(),
                    customerid: outerTableRow.querySelector('td:nth-child(2)').textContent.trim(),
                    totalWithDiscount: outerTableRow.querySelector('td:nth-child(4)').textContent.trim(),
                    discount: outerTableRow.querySelector('td:nth-child(5)').textContent.trim(),
                    totalSubtotal: outerTableRow.querySelector('td:nth-child(6)').textContent.trim(),
                    status: outerTableRow.querySelector('td:nth-child(8)').textContent.trim(),
                    invoiceBy: outerTableRow.querySelector('td:nth-child(10)').textContent.trim(),
                };

                const allRowsData = [clickedRowData];

                allRowsData.forEach(rowData => {
                    console.log('Row Data:');
                    console.log('POS ID:', rowData.posid);
                    console.log('Customer ID:', rowData.customerid);
                    console.log('Total with Discount:', rowData.totalWithDiscount);
                    console.log('Discount:', rowData.discount);
                    console.log('Total Subtotal:', rowData.totalSubtotal);
                    console.log('Invoice By:', rowData.invoiceBy);
                    console.log('Status: ', rowData.status);
                });

                const rowAlreadyExists = doesRowExist(allRowsData, clickedRow);
                if (!rowAlreadyExists) {
                    const rowObj = getRowData(clickedRow);
                    if (rowObj.name !== null) {
                        allRowsData.push(rowObj);
                    }
                }

                const innerTableRows = clickedRow ? clickedRow.querySelectorAll('tbody tr') : [];
                innerTableRows.forEach(innerRow => {
                    const innerRowAlreadyExists = doesRowExist(allRowsData, innerRow);
                    if (!innerRowAlreadyExists) {
                        const innerRowObj = getRowData(innerRow);
                        if (innerRowObj.name !== null) {
                            allRowsData.push(innerRowObj);
                        }
                    }
                });

                // Assuming 'saveInvoice' function is now available
                saveInvoice(allRowsData, clickedRowData.status);
            });

        });

        function getRowData(row) {
            return {
                name: getValue(row, '.name-input'),
                unit: getValue(row, '.unit-input'),
                sku: getValue(row, '.sku-input') ,
                quantity: parseFloat(getValue(row, '.quantity-input')) || 0,
                unitCost: parseFloat(getValue(row, '.unit-cost-input')) || 0,
                subtotal: parseFloat(getValue(row, '.subtotal-input')) || 0
            };
        }

        function getValue(row, selector) {
            const input = row ? row.querySelector(selector) : null;
            return input ? input.value : null;
        }

        function saveInvoice(allRowsData, status) {
            const posId = allRowsData[0].posid;
            const customerId = allRowsData[0].customerid;
            const discountValue = allRowsData[0].discount;
            const totalSubtotal = allRowsData[0].totalSubtotal;
            const totalWithDiscount = allRowsData[0].totalWithDiscount;
            
            const productsArray = allRowsData.slice(1).map(row => ({
                name: row.name,
                unit: row.unit,
                sku: row.sku,
                quantity: row.quantity,
                unit_cost: row.unitCost,
                subtotal: row.subtotal
            }));
            

            

            const requestData = {
                customerId: customerId,  // Include customer ID directly
                discountValue: discountValue,
                productsArray: productsArray,
                totalSubtotal: totalSubtotal,
                totalWithDiscount: totalWithDiscount,
                posid: posId
            };

            console.log('Request Data:', requestData);

            fetch('/generate_invoice_pdf/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken(),
                },
                body: JSON.stringify(requestData),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Server Response:', data);
                    // Handle the response, e.g., show a success message to the user
                    alert(data.message);
                    // Optionally, open the generated PDF in a new tab
                    window.open(data.pdf_url, '_blank');
                })
                .catch(error => console.error('Error:', error));
        }

        document.querySelectorAll('.editButton').forEach(button => {
            button.addEventListener('click', function () {
                // Extract data from the clicked row
                const clickedRowIndex = parseInt(this.getAttribute('data-target')) - 1;
                const clickedRow = innertables[clickedRowIndex];
                const outerTableRow = clickedRow.closest('tr');
                const clickedRowData = {
                    posid: outerTableRow.querySelector('td:nth-child(1)').textContent.trim(),
                    customerid: outerTableRow.querySelector('td:nth-child(2)').textContent.trim(),
                    totalWithDiscount: outerTableRow.querySelector('td:nth-child(4)').textContent.trim(),
                    discount: outerTableRow.querySelector('td:nth-child(5)').textContent.trim(),
                    totalSubtotal: outerTableRow.querySelector('td:nth-child(6)').textContent.trim(),
                    status: outerTableRow.querySelector('td:nth-child(8)').textContent.trim(),
                    invoiceBy: outerTableRow.querySelector('td:nth-child(10)').textContent.trim(),
                };

                // Prepare an array with the clicked row data
                const allRowsData = [clickedRowData];
                // Check if the row already exists in the array
                const rowAlreadyExists = doesRowExist(allRowsData, clickedRow);
                // If the row doesn't exist, add it to the array
                if (!rowAlreadyExists) {
                    const rowObj = getRowData(clickedRow);
                    if (rowObj.name !== null) {
                        allRowsData.push(rowObj);
                    }
                }

                // Process inner table rows
                const innerTableRows = clickedRow ? clickedRow.querySelectorAll('tbody tr') : [];
                innerTableRows.forEach(innerRow => {
                    const innerRowAlreadyExists = doesRowExist(allRowsData, innerRow);
                    if (!innerRowAlreadyExists) {
                        const innerRowObj = getRowData(innerRow);
                        if (innerRowObj.name !== null) {
                            allRowsData.push(innerRowObj);
                        }
                    }
                });

                // Call the 'editInvoice' function with the data
                const allRowsDataJSON = JSON.stringify(allRowsData);
                // Create a URL with the encoded parameter
                const newEditInvoiceURL = `/new_edit_invoice?data=${encodeURIComponent(allRowsDataJSON)}`;
                // Open the new_edit_invoice page with the data as a parameter
                window.open(newEditInvoiceURL);
            });
        });



        document.querySelectorAll('.deliveryButton').forEach(button => {
            button.addEventListener('click', function () {
                // Extract data from the clicked row
                const clickedRowIndex = parseInt(this.getAttribute('data-target')) - 1;
                const clickedRow = innertables[clickedRowIndex];
                const outerTableRow = clickedRow.closest('tr');
                const clickedRowData = {
                    posid: outerTableRow.querySelector('td:nth-child(1)').textContent.trim(),
                    customerid: outerTableRow.querySelector('td:nth-child(2)').textContent.trim(),
                    totalWithDiscount: outerTableRow.querySelector('td:nth-child(4)').textContent.trim(),
                    discount: outerTableRow.querySelector('td:nth-child(5)').textContent.trim(),
                    totalSubtotal: outerTableRow.querySelector('td:nth-child(6)').textContent.trim(),
                    status: outerTableRow.querySelector('td:nth-child(8)').textContent.trim(),
                    invoiceBy: outerTableRow.querySelector('td:nth-child(10)').textContent.trim(),
                };

                // Prepare an array with the clicked row data
                const allRowsData = [clickedRowData];
                // Check if the row already exists in the array
                const rowAlreadyExists = doesRowExist(allRowsData, clickedRow);
                // If the row doesn't exist, add it to the array
                if (!rowAlreadyExists) {
                    const rowObj = getRowData(clickedRow);
                    if (rowObj.name !== null) {
                        allRowsData.push(rowObj);
                    }
                }

                // Process inner table rows
                const innerTableRows = clickedRow ? clickedRow.querySelectorAll('tbody tr') : [];
                innerTableRows.forEach(innerRow => {
                    const innerRowAlreadyExists = doesRowExist(allRowsData, innerRow);
                    if (!innerRowAlreadyExists) {
                        const innerRowObj = getRowData(innerRow);
                        if (innerRowObj.name !== null) {
                            allRowsData.push(innerRowObj);
                        }
                    }
                });
                
                // Call the 'editInvoice' function with the data
                const allRowsDataJSON = JSON.stringify(allRowsData);
                // Create a URL with the encoded parameter
                const newEditInvoiceURL = `/delivery_add?data=${encodeURIComponent(allRowsDataJSON)}`;
                // Open the new_edit_invoice page with the data as a parameter
                window.open(newEditInvoiceURL);
            });
        });



        document.querySelectorAll('.returnButton').forEach(button => {
            button.addEventListener('click', function () {
                // Extract data from the clicked row
                const clickedRowIndex = parseInt(this.getAttribute('data-target')) - 1;
                const clickedRow = innertables[clickedRowIndex];
                const outerTableRow = clickedRow.closest('tr');
                const clickedRowData = {
                    posid: outerTableRow.querySelector('td:nth-child(1)').textContent.trim(),
                    customerid: outerTableRow.querySelector('td:nth-child(2)').textContent.trim(),
                    totalWithDiscount: outerTableRow.querySelector('td:nth-child(4)').textContent.trim(),
                    discount: outerTableRow.querySelector('td:nth-child(5)').textContent.trim(),
                    totalSubtotal: outerTableRow.querySelector('td:nth-child(6)').textContent.trim(),
                    status: outerTableRow.querySelector('td:nth-child(8)').textContent.trim(),
                    invoiceBy: outerTableRow.querySelector('td:nth-child(10)').textContent.trim(),
                };

                // Prepare an array with the clicked row data
                const allRowsData = [clickedRowData];
                // Check if the row already exists in the array
                const rowAlreadyExists = doesRowExist(allRowsData, clickedRow);
                // If the row doesn't exist, add it to the array
                if (!rowAlreadyExists) {
                    const rowObj = getRowData(clickedRow);
                    if (rowObj.name !== null) {
                        allRowsData.push(rowObj);
                    }
                }

                // Process inner table rows
                const innerTableRows = clickedRow ? clickedRow.querySelectorAll('tbody tr') : [];
                innerTableRows.forEach(innerRow => {
                    const innerRowAlreadyExists = doesRowExist(allRowsData, innerRow);
                    if (!innerRowAlreadyExists) {
                        const innerRowObj = getRowData(innerRow);
                        if (innerRowObj.name !== null) {
                            allRowsData.push(innerRowObj);
                        }
                    }
                });

                // Call the 'editInvoice' function with the data
                const allRowsDataJSON = JSON.stringify(allRowsData);
                // Create a URL with the encoded parameter
                const newEditInvoiceURL = `/new_return_invoice?data=${encodeURIComponent(allRowsDataJSON)}`;
                // Open the new_edit_invoice page with the data as a parameter
                window.open(newEditInvoiceURL);
            });
        });

        function doesRowExist(rowsArray, row) {
            const rowObj = getRowData(row);
            return rowsArray.some(existingRow => JSON.stringify(existingRow) === JSON.stringify(rowObj));
        }

    });
</script>

<script>
    $(document).ready(function () {
        $('#searchInput').on('keyup', function () {
            const searchTerm = $(this).val().toLowerCase();
            $('table.pos-table tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().includes(searchTerm));
            });
        });
    });
</script>

<script>
    // Add an event listener for items per page dropdown change
    $('#itemsPerPage').on('change', function () {
        const selectedItemsPerPage = $(this).val();
        const currentURL = window.location.href;

        // Update the URL with the selected items per page
        const updatedURL = updateQueryStringParameter(currentURL, 'items_per_page', selectedItemsPerPage);

        // Redirect to the updated URL
        window.location.href = updatedURL;
    });

    // Function to update a query string parameter in the URL
    function updateQueryStringParameter(uri, key, value) {
        const re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        const separator = uri.indexOf('?') !== -1 ? "&" : "?";
        
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        } else {
            return uri + separator + key + "=" + value;
        }
    }
</script>

<script>
    document.querySelectorAll('.voucherButton').forEach(button => {
        button.addEventListener('click', function () {
            const posId = this.getAttribute('data-posid');
            
            // Display the pos.id in the modal
            document.getElementById('id_salepos').value = posId;
    
            // Open the modal using Bootstrap's modal method
            $('#voucherModal').modal('show');
        });
    });
    
</script>


<script>
    // Example Bootstrap validation using the 'needs-validation' class
    // You may customize this based on your validation requirements
    (function () {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                }, false);
            });
    })();
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get all elements with the class 'amount' in the table body
        const amountElements = document.querySelectorAll('tbody td:nth-child(4)');

        // Calculate the total amount
        const totalAmount = Array.from(amountElements).reduce((total, element) => {
            const amount = parseFloat(element.textContent) || 0;
            return total + amount;
        }, 0);

        // Display the total amount in the designated element
        document.querySelector('.totalAmount').textContent = "Total Subtotal: " +  `${totalAmount.toFixed(2)}`;
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get all elements with the class 'amount' in the table body
        const amountElements = document.querySelectorAll('tbody td:nth-child(7)');

        // Calculate the total amount
        const totalAmount = Array.from(amountElements).reduce((total, element) => {
            const amount = parseFloat(element.textContent) || 0;
            return total + amount;
        }, 0);

        // Display the total amount in the designated element
        document.querySelector('.totalSubtotal').textContent = "Total Paid Amount: " + `${totalAmount.toFixed(2)}`;
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get all elements with the class 'amount' in the table body
        const amountElements = document.querySelectorAll('tbody td:nth-child(8)');

        // Calculate the total amount
        const totalAmount = Array.from(amountElements).reduce((total, element) => {
            const amount = parseFloat(element.textContent) || 0;
            return total + amount;
        }, 0);

        // Display the total amount in the designated element
        document.querySelector('.totalpaidAmount').textContent = "Total Due Amount: "+ `${totalAmount.toFixed(2)}`;
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const table = document.querySelector('.pos-table');
      const toggleButtonsContainer = document.getElementById('toggleButtons');
  
      // Function to toggle column visibility
      function toggleColumnVisibility(columnIndex) {
        const cells = table.querySelectorAll(`td:nth-child(${columnIndex + 1}), th:nth-child(${columnIndex + 1})`);
  
        cells.forEach(cell => {
          cell.style.display = cell.style.display === 'none' ? '' : 'none'; // Toggle visibility
        });
      }
  
      // Add buttons for each column
      const columnNames = Array.from(table.querySelector('thead').querySelectorAll('th')).map(th => th.textContent.trim());
  
      columnNames.forEach((columnName, index) => {
        const button = document.createElement('button');
        button.className = 'btn btn-secondary';
        button.textContent = columnName;
        button.addEventListener('click', () => toggleColumnVisibility(index));
        toggleButtonsContainer.appendChild(button);
      });
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        const table = document.querySelector('.pos-table');
        const toggleColumnsDropdownMenu = document.getElementById('toggleColumnsDropdownMenu');

        // Retrieve the column visibility status from localStorage
        // If not available, initialize with all columns visible
        let columnVisibility = JSON.parse(localStorage.getItem('columnVisibility')) || Array.from(table.querySelector('thead').querySelectorAll('th')).map(() => true);

        // Function to toggle column visibility
        function toggleColumnVisibility(columnIndex, button) {
            const cells = table.querySelectorAll(`td:nth-child(${columnIndex + 1}), th:nth-child(${columnIndex + 1})`);

            // Toggle visibility and update the visibility status in localStorage
            cells.forEach(cell => {
                columnVisibility[columnIndex] = !columnVisibility[columnIndex];
                cell.style.display = columnVisibility[columnIndex] ? '' : 'none';
            });

            // Save the updated visibility status in localStorage
            localStorage.setItem('columnVisibility', JSON.stringify(columnVisibility));

            // Change the background color of the clicked button
            button.style.backgroundColor = columnVisibility[columnIndex] ? '' : 'lightgray';
            window.location.reload()
        }

        // Add options for each column to the dropdown
        const columnNames = Array.from(table.querySelector('thead').querySelectorAll('th')).map(th => th.textContent.trim());

        columnNames.forEach((columnName, index) => {
            const option = document.createElement('button');
            option.className = 'dropdown-item';
            option.textContent = columnName;
            option.addEventListener('click', () => toggleColumnVisibility(index, option));
            toggleColumnsDropdownMenu.appendChild(option);

            // Apply initial visibility based on stored state
            if (!columnVisibility[index]) {
                const cells = table.querySelectorAll(`td:nth-child(${index + 1}), th:nth-child(${index + 1})`);
                cells.forEach(cell => {
                    cell.style.display = 'none';
                });
                
                // Change the background color of the button
                option.style.backgroundColor = 'lightgray';
                
            }
        });
    });
</script>


<script>
    // Add an event listener for delete button click
    $('.deleteButton').on('click', function () {
        const posId = $(this).data('target');

        if (confirm('Are you sure you want to delete this record?')) {
            $.ajax({
                url: '/delete_invoice_transacrtion/',  // Replace with your actual delete URL
                method: 'POST',
                data: {
                    posId: posId,
                    csrfmiddlewaretoken: getCSRFToken(),
                },
                success: function (data) {
                    console.log('Record deleted successfully:', data);
                    // Optionally, you can update the UI or show a success message
                    window.location.reload(); // Reload the page after deletion
                },
                error: function (error) {
                    console.error('Error deleting record:', error);
                    // Handle errors if needed
                }
            });
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Add an event listener for the view button click
        document.querySelectorAll('.viewButton').forEach(button => {
            button.addEventListener('click', function () {
                // Extract data from the clicked row
                const clickedRow = this.closest('tr');
                const allRowsData = getRowData(clickedRow);

                // Get the product table from the clicked row
                const productTable = clickedRow.querySelector('.inner-table tbody');

                // Clone the product table and append it to the modal body
                const productTableClone = productTable.cloneNode(true);
                document.querySelector('#exampleModal6 .modal-body').innerHTML = '';
                document.querySelector('#exampleModal6 .modal-body').appendChild(productTableClone);

                // Set the table headers dynamically
                const headerRow = document.querySelector('#exampleModal6 .modal-body .inner-table thead tr');
                headerRow.innerHTML = '<th>Name</th><th>Unit</th><th>SKU</th><th>Unit Cost</th><th>Subtotal</th>';

                // Open the modal using Bootstrap's modal method
                $('#exampleModal6').modal('show');
            });
        });

        function getRowData(row) {
            return {
                name: row.querySelector('.name-input').value,
                unit: row.querySelector('.unit-input').value,
                sku: row.querySelector('.sku-input').value,
                quantity: parseFloat(row.querySelector('.quantity-input').value) || 0,
                unitCost: parseFloat(row.querySelector('.unit-cost-input').value) || 0,
                subtotal: parseFloat(row.querySelector('.subtotal-input').value) || 0
            };
        }
    });
</script>

{% endblock %}
