{% extends 'ERP/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/customer_list_form.css' %}">
<link rel="stylesheet" href="{% static "css/neinvoice.css" %}">
  {% if customer.id %}
    <h4 class="text-center mt-3 mb-4">Update Customer</h4>

  {% else %}
  <h4 class="text-center mt-3 mb-4">Create Customer</h4>
  {% endif %}
  
  <div class="container">
  <form method="post" action="{% if customer.id %}{% url 'update_customer' customer.id %}{% else %}{% url 'create_customer' %}{% endif %}">
    {% csrf_token %}
    {{ form.as_p }}

    {% if customer.id %}
    <button class="btn btn-info" type="submit">Update</button>

    {% else %}
    <button type="submit" class="btn btn-success">Save</button>
    {% endif %}
  </form>
</div>
{% endblock %}
