{% extends 'ERP/base.html' %}

{% block title %}Transaction{% endblock %}

{% block content %}

<style>
    .productid {
        display: none;
    }

    .posid {
        display: none;
    }

    .searchview
    {
        margin-top: 2rem;
        width:30%;
        margin-left: 5%;
    }

    table,th,tr,td{
        text-align:center !important;
    }

    .debotsname
    {
        color:black !important;
    }

</style>

{% load static %}
<link rel="stylesheet" href="{% static "css/neinvoice.css" %}">
<link rel="stylesheet" href="{% static "css/transaction.css" %}">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <div class="items-per-page w-25">
        <label for="itemsPerPage">Items Per Page:</label>
        <select id="itemsPerPage" class="form-control">
            <option value="10" {% if items_per_page == 10 %}selected{% endif %}>10</option>
            <option value="20" {% if items_per_page == 20 %}selected{% endif %}>20</option>
            <option value="30" {% if items_per_page == 30 %}selected{% endif %}>30</option>
            <option value="40" {% if items_per_page == 40 %}selected{% endif %}>40</option>
            <option value="50" {% if items_per_page == 50 %}selected{% endif %}>50</option>
            <option value="100" {% if items_per_page == 100 %}selected{% endif %}>100</option>
            <option value="200" {% if items_per_page == 200 %}selected{% endif %}>200</option>
            <option value="300" {% if items_per_page == 300 %}selected{% endif %}>300</option>
            <option value="400" {% if items_per_page == 300 %}selected{% endif %}>400</option>
            <option value="500" {% if items_per_page == 500 %}selected{% endif %}>500</option>
            <option value="1000" {% if items_per_page == 1000 %}selected{% endif %}>1000</option>

            <!-- Add other options as needed -->
        </select>
    </div>

<div class="searchview">
    <input type="text" id="searchInput" class="form-control" placeholder="Search by Customer Name">
</div>


<!-- Add this somewhere in your HTML, usually at the end of your file -->
<div class="modal fade" id="voucherModal" tabindex="-1" role="dialog" aria-labelledby="voucherModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="voucherModalLabel">Voucher Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Content of your modal goes here -->
                <form id="voucherForm" method="post" action="" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <!-- Voucher Number -->
                    {% comment %} <div class="form-group">
                        <label for="{{ form.vouchernumber.id_for_label }}">Voucher Number:</label>
                        {{ form.vouchernumber }}
                    </div> {% endcomment %}
                
                    <!-- Amount -->
                    <!-- Salepos -->
                    <div class="form-group">
                        <label for="{{ form.purchasepos.id_for_label }}">Purchase POS:</label>
                        {{ form.purchasepos }}
                    </div>
                
                    <div class="form-group">
                        <label for="{{ form.amount.id_for_label }}">Amount:</label>
                        {{ form.amount }}
                    </div>
                
                    <!-- Payment Status -->
                    <div class="form-group">
                        <label for="{{ form.payment_status.id_for_label }}">Payment Status:</label>
                        {{ form.payment_status }}
                    </div>
                
                    <!-- Description -->
                    <div class="form-group">
                        <label for="{{ form.description.id_for_label }}">Description:</label>
                        {{ form.description }}
                    </div>
                
                    
                    <!-- Purchasepos -->
                    <div class="form-group">
                        <label for="{{ form.purchasepos.id_for_label }}">Type:</label>
                        {{ form.type }}
                    </div>
                
                    <!-- Account Info -->
                    <div class="form-group">
                        <label for="{{ form.account_info.id_for_label }}">Account Info:</label>
                        {{ form.account_info }}
                    </div>
                
                    <!-- Date -->
                    {% comment %} <div class="form-group">
                        <label for="{{ form.date.id_for_label }}">Date:</label>
                        {{ form.date }}
                    </div> {% endcomment %}
                
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- Add any other buttons you need in the footer -->
            </div>

        </div>
    </div>
</div>


<!-- Your home page content goes here -->
<div class="mytable">
    <table class="pos-table">
        <thead>
            <tr>
                <th class="posid">SO ID</th>
                <th class="productid">ID</th>
                <th>Customer</th>
                <th>Total with Discount</th>
                <th>Discount</th>
                <th>Total Subtotal</th>
                <th>Paid Amount</th>
                <th>Due Amount</th>
                <th>Products</th>
                <th>Status</th>
                <th>Invoice Date</th>
                <th>Invoice By</th>
                <th>Edit</th>
                <th>Voucher</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for pos in pos_records %}
            <tr>
                <td class="posid">{{ pos.id }}</td>
                <td class="productid">{{ pos.customer.id }}</td>
                <td><a href="{% url 'customerDetailsaccount' pos.customer.id %}" class="debotsname">{{ pos.customer.Debtors_Name }}</a></td>            <td>{{ pos.total_with_discount }}</td>
                <td>{{ pos.discount }}</td>
                <td>{{ pos.total_subtotal }}</td>
                <td>{{ pos.paid_amount }}</td>
                <td>{{ pos.due_amount }}</td>
                <td>
                    <button class="generatePdfButton btn btn-warning" data-target="{{ forloop.counter }}">PDF</button>
                    <table class="inner-table" id="innerTable{{ forloop.counter }}">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Product Name</th>
                                <th>UNIT</th>
                                <th>SKU</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in pos.products.all %}
                            <tr>
                                <td><input type="text" class="item-input" value="{{ product.item_name }}"></td>
                                <td><input type="text" class="name-input" value="{{ product.name }}"></td>
                                <td><input type="text" class="unit-input" value="{{ product.unit }}"></td>
                                <td><input type="number" class="sku-input" value="{{ product.sku }}"></td>
                                <td><input type="number" class="quantity-input" value="{{ product.quantity }}"></td>
                                <td><input type="number" class="unit-cost-input" value="{{ product.unit_cost }}"></td>
                                <td><input type="number" class="subtotal-input" value="{{ product.subtotal }}"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>{{ pos.status }}</td>
                <td>{{ pos.invoice_date }}</td>
                <td>{{ pos.invoice_by }}</td>
                <td class="d-flex">
                    <button class="editButton btn btn-info" data-target="{{ forloop.counter }}">Edit</button>
                </td>
                
                <td>
                    <button class="voucherButton btn btn-success" data-toggle="modal" data-target="#voucherModal" data-posid="{{ pos.id }}">Voucher</button>
                </td>
                <td><button class="deleteButton btn btn-danger" data-target="{{ forloop.counter }}">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="1"></td><!-- colspan should be adjusted based on the number of columns in your table -->
                <td><p class="totalAmount fw-bolder"></p></td>
                <td colspan="1"></td>
                <td><p class="totalSubtotal fw-bolder"></p></td>
                <td><p class="totalpaidAmount fw-bolder"></p></td>
            </tr>
            
        </tfoot>
    </table>
</div>

<div class="pagination">
    <span class="step-links">
        {% if pos_page.has_previous %}
            <a href="?page=1" class="btn btn-sm btn-info">&laquo; first</a>
            <a href="?page={{ pos_page.previous_page_number }}" class="btn btn-sm btn-primary">previous</a>
        {% endif %}

        <span class="current">
            Page {{ pos_page.number }} of {{ pos_page.paginator.num_pages }}.
        </span>

        {% if pos_page.has_next %}
            <a href="?page={{ pos_page.next_page_number }}" class="btn btn-sm btn-warning">next</a>
            <a href="?page={{ pos_page.paginator.num_pages }}" class="btn btn-sm btn-success">last &raquo;</a>
        {% endif %}
    </span>
</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<script>
    // Ensure that your CSRF token is included in AJAX requests if needed
    function getCSRFToken() {
        const cookieValue = document.cookie
            .split('; ')
            .find(row => row.startsWith('csrftoken='))
            .split('=')[1];
        return cookieValue;
    }

    document.addEventListener('DOMContentLoaded', function () {
        const innertables = document.querySelectorAll('.inner-table');

        innertables.forEach(table => {
            table.style.display = "none";
        });

        document.querySelectorAll('.generatePdfButton').forEach(button => {
            button.addEventListener('click', function () {
                const clickedRowIndex = parseInt(this.getAttribute('data-target')) - 1;
                const clickedRow = innertables[clickedRowIndex];
                const outerTableRow = clickedRow.closest('tr');

                const clickedRowData = {
                    posid: outerTableRow.querySelector('td:nth-child(2)').textContent.trim(),
                    customerid: outerTableRow.querySelector('td:nth-child(3)').textContent.trim(),
                    discount: outerTableRow.querySelector('td:nth-child(5)').textContent.trim(),  // Corrected field name
                    totalSubtotal: outerTableRow.querySelector('td:nth-child(6)').textContent.trim(),  // Corrected field name
                    totalWithDiscount: outerTableRow.querySelector('td:nth-child(7)').textContent.trim(),  // Corrected field name
                    status: outerTableRow.querySelector('td:nth-child(10) select').value.trim(),
                    invoiceBy: outerTableRow.querySelector('td:nth-child(12)').textContent.trim(),
                };

                const allRowsData = [clickedRowData];

                console.log(allRowsData);

                const rowAlreadyExists = doesRowExist(allRowsData, clickedRow);
                if (!rowAlreadyExists) {
                    const rowObj = getRowData(clickedRow);
                    if (rowObj.name !== null) {
                        allRowsData.push(rowObj);
                    }
                }

                const innerTableRows = clickedRow ? clickedRow.querySelectorAll('tbody tr') : [];
                innerTableRows.forEach(innerRow => {
                    const innerRowAlreadyExists = doesRowExist(allRowsData, innerRow);
                    if (!innerRowAlreadyExists) {
                        const innerRowObj = getRowData(innerRow);
                        if (innerRowObj.name !== null) {
                            allRowsData.push(innerRowObj);
                        }
                    }
                });

                // Assuming 'saveInvoice' function is now available
                saveInvoice(allRowsData, clickedRowData.status);
            });

        });

        function getRowData(row) {
            return {
                item_name: getValue(row, '.item-input'),
                name: getValue(row, '.name-input'),
                unit: getValue(row, '.unit-input'),
                sku: parseFloat(getValue(row, '.sku-input')) || 0,
                quantity: parseFloat(getValue(row, '.quantity-input')) || 0,
                unitCost: parseFloat(getValue(row, '.unit-cost-input')) || 0,
                subtotal: parseFloat(getValue(row, '.subtotal-input')) || 0
            };
        }

        function getValue(row, selector) {
            const input = row ? row.querySelector(selector) : null;
            return input ? input.value : null;
        }

        function saveInvoice(allRowsData, status) {
            const posId = allRowsData[0].posid;
            const customerId = allRowsData[0].customerid;
            const discountValue = allRowsData[0].discount;
            const totalSubtotal = allRowsData[0].totalSubtotal;
            const totalWithDiscount = allRowsData[0].totalWithDiscount;

            const productsArray = allRowsData.slice(1).map(row => ({
                name: row.name,
                item_name: row.item_name,
                unit: row.unit,
                sku: row.sku,
                quantity: row.quantity,
                unit_cost: row.unitCost,
                subtotal: row.subtotal
            }));

            console.log(productsArray);

            const requestData = {
                customerId: customerId,
                discountValue: discountValue,
                productsArray: productsArray,
                totalSubtotal: totalSubtotal,
                totalWithDiscount: totalWithDiscount,
                posid: posId
            };

            console.log('Request Data:', requestData);

            fetch('/generate_invoice_pdf_purchase/', {  // Corrected endpoint URL
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken(),
                },
                body: JSON.stringify(requestData),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Server Response:', data);
                    // Handle the response, e.g., show a success message to the user
                    alert(data.message);
                    // Optionally, open the generated PDF in a new tab
                    window.open(data.pdf_url, '_blank');
                })
                .catch(error => console.error('Error:', error));
        }

        document.querySelectorAll('.editButton').forEach(button => {
            button.addEventListener('click', function () {
                // Extract data from the clicked row
                const clickedRowIndex = parseInt(this.getAttribute('data-target')) - 1;
                const clickedRow = innertables[clickedRowIndex];
                const outerTableRow = clickedRow.closest('tr');
                
                const clickedRowData = {
                    posid: outerTableRow.querySelector('td:nth-child(1)').textContent.trim(),
                    customerid: outerTableRow.querySelector('td:nth-child(2)').textContent.trim(),
                    discount: outerTableRow.querySelector('td:nth-child(4)').textContent.trim(),  // Corrected field name
                    totalSubtotal: outerTableRow.querySelector('td:nth-child(5)').textContent.trim(),  // Corrected field name
                    totalWithDiscount: outerTableRow.querySelector('td:nth-child(6)').textContent.trim(),  // Corrected field name
                    status: outerTableRow.querySelector('td:nth-child(8)').textContent.trim(),
                    invoiceBy: outerTableRow.querySelector('td:nth-child(10)').textContent.trim(),
                };

                // Prepare an array with the clicked row data
                const allRowsData = [clickedRowData];
                // Check if the row already exists in the array
                const rowAlreadyExists = doesRowExist(allRowsData, clickedRow);
                // If the row doesn't exist, add it to the array
                if (!rowAlreadyExists) {
                    const rowObj = getRowData(clickedRow);
                    if (rowObj.name !== null) {
                        allRowsData.push(rowObj);
                    }
                }

                console.log(allRowsData);

                // Process inner table rows
                const innerTableRows = clickedRow ? clickedRow.querySelectorAll('tbody tr') : [];
                innerTableRows.forEach(innerRow => {
                    const innerRowAlreadyExists = doesRowExist(allRowsData, innerRow);
                    if (!innerRowAlreadyExists) {
                        const innerRowObj = getRowData(innerRow);
                        if (innerRowObj.name !== null) {
                            allRowsData.push(innerRowObj);
                        }
                    }
                });

                // Call the 'editInvoice' function with the data
                const allRowsDataJSON = JSON.stringify(allRowsData);
                // Create a URL with the encoded parameter
                const newEditInvoiceURL = `/new_edit_invoice_purchase?data=${encodeURIComponent(allRowsDataJSON)}`;
                // Open the new_edit_invoice page with the data as a parameter
                window.open(newEditInvoiceURL);
            });
        });

        function doesRowExist(rowsArray, row) {
            const rowObj = getRowData(row);
            return rowsArray.some(existingRow => JSON.stringify(existingRow) === JSON.stringify(rowObj));
        }

    });
</script>


<script>
    $('#searchInput').on('keyup', function () {
        const searchTerm = $(this).val().toLowerCase();
        $('table.pos-table tbody tr').filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(searchTerm) > -1);
        });
    });
</script>

<script>
    // Add an event listener for dropdown change
    $('.delivery-status-dropdown').on('change', function () {
        const selectedStatus = $(this).val();
        const posId = $(this).data('posid');
        
        $.ajax({
            url: '/update_delivery_status/',  // Replace with your actual update URL
            method: 'POST',
            data: {
                posId: posId,
                selectedStatus: selectedStatus,
                csrfmiddlewaretoken: getCSRFToken(),
            },
            success: function (data) {
                console.log('Database updated successfully:', data);
                // Optionally, you can update the UI or show a success message
                window.location.reload();
            },
            error: function (error) {
                console.error('Error updating database:', error);
                // Handle errors if needed
            }
        });

    });

</script>

<!-- Add this script in your HTML file -->
<script>
    // Add an event listener for delete button click
    $('.deleteButton').on('click', function () {
        const posId = $(this).data('target');

        if (confirm('Are you sure you want to delete this record?')) {
            $.ajax({
                url: '/delete_pos_purchase/',  // Replace with your actual delete URL
                method: 'POST',
                data: {
                    posId: posId,
                    csrfmiddlewaretoken: getCSRFToken(),
                },
                success: function (data) {
                    console.log('Record deleted successfully:', data);
                    // Optionally, you can update the UI or show a success message
                    window.location.reload(); // Reload the page after deletion
                },
                error: function (error) {
                    console.error('Error deleting record:', error);
                    // Handle errors if needed
                }
            });
        }
    });
</script>

<script>
    // Add an event listener for items per page dropdown change
    $('#itemsPerPage').on('change', function () {
        const selectedItemsPerPage = $(this).val();
        const currentURL = window.location.href;

        // Update the URL with the selected items per page
        const updatedURL = updateQueryStringParameter(currentURL, 'items_per_page', selectedItemsPerPage);

        // Redirect to the updated URL
        window.location.href = updatedURL;
    });

    // Function to update a query string parameter in the URL
    function updateQueryStringParameter(uri, key, value) {
        const re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        const separator = uri.indexOf('?') !== -1 ? "&" : "?";
        
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        } else {
            return uri + separator + key + "=" + value;
        }
    }
</script>


<script>
    document.querySelectorAll('.voucherButton').forEach(button => {
        button.addEventListener('click', function () {
            const posId = this.getAttribute('data-posid');
            
            // Display the pos.id in the modal
            document.getElementById('id_purchasepos').value = posId;
    
            // Open the modal using Bootstrap's modal method
            $('#voucherModal').modal('show');
        });
    });
    
</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get all elements with the class 'amount' in the table body
        const amountElements = document.querySelectorAll('tbody td:nth-child(5)');

        // Calculate the total amount
        const totalAmount = Array.from(amountElements).reduce((total, element) => {
            const amount = parseFloat(element.textContent) || 0;
            return total + amount;
        }, 0);

        // Display the total amount in the designated element
        document.querySelector('.totalAmount').textContent = `${totalAmount.toFixed(2)}`;
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get all elements with the class 'amount' in the table body
        const amountElements = document.querySelectorAll('tbody td:nth-child(6)');

        // Calculate the total amount
        const totalAmount = Array.from(amountElements).reduce((total, element) => {
            const amount = parseFloat(element.textContent) || 0;
            return total + amount;
        }, 0);

        // Display the total amount in the designated element
        document.querySelector('.totalPaidAmount').textContent = `${totalAmount.toFixed(2)}`;
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get all elements with the class 'amount' in the table body
        const amountElements = document.querySelectorAll('tbody td:nth-child(7)');

        // Calculate the total amount
        const totalAmount = Array.from(amountElements).reduce((total, element) => {
            const amount = parseFloat(element.textContent) || 0;
            return total + amount;
        }, 0);

        // Display the total amount in the designated element
        document.querySelector('.totalDueAmount').textContent = `${totalAmount.toFixed(2)}`;
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get all elements with the class 'amount' in the table body
        const amountElements = document.querySelectorAll('tbody td:nth-child(4)');

        // Calculate the total amount
        const totalAmount = Array.from(amountElements).reduce((total, element) => {
            const amount = parseFloat(element.textContent) || 0;
            return total + amount;
        }, 0);

        // Display the total amount in the designated element
        document.querySelector('.totalAmount').textContent = `${totalAmount.toFixed(2)}`;
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get all elements with the class 'amount' in the table body
        const amountElements = document.querySelectorAll('tbody td:nth-child(6)');

        // Calculate the total amount
        const totalAmount = Array.from(amountElements).reduce((total, element) => {
            const amount = parseFloat(element.textContent) || 0;
            return total + amount;
        }, 0);

        // Display the total amount in the designated element
        document.querySelector('.totalSubtotal').textContent = `${totalAmount.toFixed(2)}`;
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get all elements with the class 'amount' in the table body
        const amountElements = document.querySelectorAll('tbody td:nth-child(7)');

        // Calculate the total amount
        const totalAmount = Array.from(amountElements).reduce((total, element) => {
            const amount = parseFloat(element.textContent) || 0;
            return total + amount;
        }, 0);

        // Display the total amount in the designated element
        document.querySelector('.totalpaidAmount').textContent = `${totalAmount.toFixed(2)}`;
    });
</script>
{% endblock %}
