/* Dropdown Button */

nav
{
  background: #000 !important;
  font-size: 0.9rem !important;
}

nav a{
  color: white !important;
}


.tableview {
  width: 90% !important;
  overflow-x: auto !important;
  overflow-y: scroll; /* or overflow-y: auto; */
  
  margin-left: 4rem;
}

.delivrydatatable
{
    width:90% !important;
    margin:auto;
}

.delivrydatatable,tr,th,td{
  border: 1px solid black !important;
  text-align: center;
}

.top-scroll {
  width: 10px; /* Set the width of the scrollbar */
  height: 100%; /* Set the height to cover the entire height of the container */
  background-color: #f1f1f1; /* Background color of the scrollbar track */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999; /* Set a high z-index to make sure it appears on top of other elements */

  /* Styles for the scrollbar thumb */
  &::-webkit-scrollbar-thumb {
      background-color: #888; /* Color of the scrollbar thumb */
      border-radius: 5px; /* Border radius of the scrollbar thumb */
  }

  /* Styles for the scrollbar track when the scrollbar is being dragged */
  &::-webkit-scrollbar-track {
      background-color: #f1f1f1; /* Background color of the scrollbar track */
  }

  /* Styles for the scrollbar thumb when the scrollbar is being hovered */
  &:hover::-webkit-scrollbar-thumb {
      background-color: #555; /* Color of the scrollbar thumb when hovered */
  }

  /* Styles for the scrollbar track when the scrollbar is being hovered */
  &:hover::-webkit-scrollbar-track {
      background-color: #ccc; /* Background color of the scrollbar track when hovered */
  }
}


.dropbtn {

    color: white !important;
    border: none;
   
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: #fffefe;
    z-index: 1000 !important;
   
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black !important;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    z-index: 1000 !important;
    
  }

  .mytable
  {
    width: 90%;
    overflow-x: auto !important;
    margin: auto;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  .items-per-page
  {
    margin-top: 1rem;
    margin-left: 6.5% !important;
  }

  #description
  {
    border: 1px solid blue !important;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */

  .c-dashboardInfo {
    margin-bottom: 15px;
  }
  .c-dashboardInfo .wrap {
    background: #ffffff;
    box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 40px 25px 20px;
    height: 100%;
  }
  .c-dashboardInfo__title,
  .c-dashboardInfo__subInfo {
    color: #6c6c6c;
    font-size: 1.18em;
  }
  .c-dashboardInfo span {
    display: block;
  }
  .c-dashboardInfo__count {
    font-weight: 600;
    font-size: 2.5em;
    line-height: 64px;
    color: #323c43;
  }
  .c-dashboardInfo .wrap:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: "";
  }
  
  .c-dashboardInfo:nth-child(1) .wrap:after {
    background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);
  }
  .c-dashboardInfo:nth-child(2) .wrap:after {
    background: linear-gradient(81.67deg, #0084f4 0%, #1a4da2 100%);
  }
  .c-dashboardInfo:nth-child(3) .wrap:after {
    background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
  }
  .c-dashboardInfo:nth-child(4) .wrap:after {
    background: linear-gradient(81.67deg, #ff647c 0%, #1f5dc5 100%);
  }
  .c-dashboardInfo__title svg {
    color: #d7d7d7;
    margin-left: 5px;
  }
  .MuiSvgIcon-root-19 {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 24px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
  }
  

  .subtotal-input,.unit-cost-input,.quantity-input,.sku-input,.unit-input
  {
    width: 90px !important;
  }


.columnvisibilty
{
  margin-left: 80%;
}